<section class="to-do-list">
  <h1>Todo List</h1>

  @if (isLoading) {
    <div class="spinner">
      <mat-spinner [mode]="'indeterminate'"></mat-spinner>
    </div>
  } @else {
    <ul class="item-list">
      @for (listItem of listItems; track $index) {
        <li>
          <app-to-do-list-item [listItem]="listItem" (deleteItemById)="deleteItem($event)"
                               [ngClass]="'item'"></app-to-do-list-item>
        </li>
      }
    </ul>
    <div class="footer-form">
      <input class="input" placeholder="Add your new todo" [(ngModel)]="inputText">
      <app-button [title]="'Add task'" [disabled]="isAddTaskButtonDisabled()"
                  (click)="addItem()" [cssStyles]="'button button_add'"></app-button>
<!--      <button [ngClass]="'button button_add'" [disabled]="isAddTaskButtonDisabled()" (click)="addItem()">Add task-->
      <!--      </button>-->
    </div>
  }
</section>
